:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --light-navbar: #E4EBF8;
    --dark-navbar: #191c23;
    --primary-dark: #2f2f32;
    --primary-dark-2: #39393c;
    --greyLight-1: #E4EBF8;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #1c1c1d;
    --greyDark: #091318;
    --greyBodyDark: #1a1d24;
    --a-dark-hover: #68a7eb;
    --white: #ffffff;
    --darkorange: rgb(255, 153, 0);
}

body {
    background-color: #E4EBF8;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btn-hover-new {
    color: #333333;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    background-color: #Eef7Ff;
    overflow: hidden;
    padding: 0 18px;
    display: inline-block;
}

.sim-btn {
    line-height: 55px;
    height: 55px;
    width: 70%;
    border-radius: 0.3em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
}


/*------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/


.contact_form {
    padding: 40px 0 10px;
    background-color: #E4EBF8;
    border-radius: 0.3em;
}

.contact_form h1 {
    margin-top: 120px;
    margin-bottom: 70px;
}

.contact_form .form-group-link {
    border-radius: 0.8em;
    outline: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem white;
}

.contact_form .form-control {
    background: none;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    color: #333333;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    width: 100%;
    box-shadow: none;
}

#download, #watch, #download-btn2 {
    background: none;
    border-radius: 0.8em;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

#download:active span, #watch:active span, #download-btn2:active span {
    color: var(--darkorange);
}

#download:active, #watch:active, #download-btn2:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem white;
}


.contact_form .form-control::-webkit-input-placeholder {
    color: #a3a3a3;
}

.contact_form .form-control::-moz-placeholder {
    color: #a3a3a3;
}

.contact_form .form-control::-ms-input-placeholder {
    color: #a3a3a3;
}


.contact_form textarea.form-control {
    min-height: 110px;
}

.form-group {
    position: relative;
}

.help-block {
    position: absolute;
    top: 100%;
    left: 0;
}

/*
按钮
*/
.row {
    position: relative;
}

#show {
    position: absolute;
    top: 100px;
    width: 100%;
}

#down {
    position: absolute;
    top: 170px;
    width: 100%;
}

#error {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 50%;
    margin-left: -100px;
}

/*页脚*/
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links, .footer-links a {
    color: #999;
    text-decoration: none;
}

.footer-links a:hover, .footer a:hover {
    color: var(--darkorange) !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.copyrights {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 25px 0 !important;
    overflow: hidden;
    box-shadow: 0 0 0 transparent, -0.2rem -0.2rem 0.4rem rgba(255, 255, 255, 0.45);
}

/*说明*/
.readme {
    width: 100%;
    position: absolute;
    bottom: 80px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
    overflow: hidden;
}

/*图集*/
.image-li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image-li img {
    width: 100%;
    padding: 10px;
}
