html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
a,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #f30213;
}
html,
body {
    background-color: #fff;
    color: #666;
    font: 12px/150% Microsoft YaHei;
}
@media screen and (max-width: 750px){
.login-choose{
	top:12%!important;
}
}