.w {
    /*width: 100%;*/
    margin: 0 auto;
}

ul {
    list-style: none;
}



.crumb {
    overflow: hidden;
    list-style: none;
    padding: 10px 0;
    padding-right: 67px;
}

.crumb li {
    float: left;
}

.crumb li.active {
    color: #000;
    font-weight: bold;
}

.crumb>li+li:before {
    color: #666;
    content: ">";
    float: left;
    padding: 0 5px;
}

.searchcon-w {
    border-top: 1px solid #DDD;
    background: #FFF;
    margin-bottom: 10px;
}

.con-wrap {
    position: relative;
    _zoom: 1;
    line-height: 34px;
    overflow: hidden;
    border-bottom: 1px solid #DDD;
    background: #fff;
}

.con-key {
    float: left;
    background-color: #fff;
    /*width: 70px;*/
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.con-value {
    margin-left: 85px;
    padding-right: 130px;
    padding-left: 10px;
    overflow: hidden;
    zoom: 1;
    background: #fff;
}

.rlogoul {
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    zoom: 1;
    height: 98px;
}

.rlogoul li {
    position: relative;
    float: left;
    _display: inline;
    width: 116px;
    height: 48px;
    padding: 0;
    border: 1px solid #DDD;
    margin: -1px -1px 0 0;
    background: #FFF;
    text-align: center;
    list-style: none;
}

.rlogoul li a {
    display: block;
    border: 1px solid #FFF;
    height: 46px;
    /*width: 114px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    zoom: 1;
    color: #005aa0;
    line-height: 48px;
}

.rlogoul li.selected a,
.rlogoul li a:hover {
    border-color: #e4393c;
    color: #e4393c;
}

.rlogoul li.selected,
.rlogoul li:hover {
    position: relative;
    z-index: 5;
    border-color: #e4393c;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .12);
}

.rlogoul li.selected i {
    display: block;
    font-weight: normal;
    position: absolute;
    right: -2px;
    bottom: -1px;
    width: 10px;
    height: 10px;
    background: url(search.ele.png) no-repeat -2px -183px;
}

.rlogoul li a img {
    margin: 5px 6px;
    vertical-align: top;
}

.yseah-ext {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 110px;
    height: auto;
    line-height: 22px;
    overflow: hidden;
    zoom: 1;
}

.yseah-ext a i {
    background: url(search.ele.png) no-repeat 9999px 9999px;
    transition: background-position .15s ease-in-out;
}

.ys-e-more {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 39px;
    height: 23px;
    line-height: 23px;
    padding: 0 7px 0 4px;
    background: #fff;
    visibility: visible;
    color: #333;
    border: 1px solid #ddd;
}

.ys-e-multi {
    float: left;
    height: 23px;
    line-height: 23px;
    border: 1px solid #DDD;
    padding: 0 3px 0 18px;
    position: relative;
    background: #fff;
    color: #333;
}

.ys-e-multi i,
.ys-e-more i {
    position: absolute;
    top: 1px;
    right: 2px;
    display: block;
    width: 20px;
    height: 20px;

    font-style: normal;
}

.yseah-ext a.ys-e-multi i {
    left: 2px;
    background-position: 0 -64px;
}

.yseah-ext a.ys-e-multi:hover {
    border-color: #e4393c;
}

.yseah-ext a.ys-e-multi:hover i {
    left: 2px;
    background-position: 0 -84px;
}

.yseah-ext a.ys-e-more i {
    background-position: 4px 7px;
}

.yseah-ext a.ys-e-more:hover i {
    background-position: 4px -9px;
}







































/*letter*/

.ys-letteul {
    padding-top: 6px;
    overflow: hidden;
}

.ys-letteul li {
    float: left;
    height: 20px;
    line-height: 20px;
    border: 1px solid #FFF;
    padding: 0 3px;
    cursor: default;
    text-align: center;
    color: #005aa0;
}

.ys-letteul li.categary {
    border-color: #e4393c;
    color: #e4393c;
}

.yss-nopwidth li {
    float: left;
    _display: inline;
    margin-right: 16px;
    padding-left: 3px;
    margin-bottom: 4px;
    height: 26px;
    line-height: 26px;
}

.rselelcted span.ysselected-span {
    float: left;
    line-height: 26px;
    display: inline-block;
    margin-right: 3px;
}

.yss-nopwidth li a {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    color: #005aa0;
}

.normalseliuw li a i {
    position: absolute;
    left: 0;
    top: 6px;
    background: url(search.ele.png) no-repeat 9999px 9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 0;
}

.clear {
    overflow: hidden;
}

.normalseliuw li.selected a i {
    border-color: #e4393c;
    background-position: -1px -107px;
}

.ybtn {
    display: inline-block;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #DDD;
    padding: 4px 13px 5px;
    color: #666;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}

.ybtn.disable {
    padding: 4px 13px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    cursor: default;
    color: #CCC;
    -webkit-filter: none;
    opacity: .2;
    filter: alpha(Opacity=20);
    filter: alpha(Opacity=20);
}

.ybtnwrap {
    text-align: center;
    padding: 10px 0;
}

.ybtn-sure {
    border: 0;
    padding: 5px 15px 6px;
    color: #FFF;
    background-color: #E74649;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #E74649, #DF3033);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E74649', endColorstr='#DF3033', GradientType=0);
}

.ybtn-sure {
    margin-right: 8px;
}

.selecbaseul {
    overflow: hidden;
}

.selecbaseul li {
    float: left;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 50px;
    height: 26px;
    line-height: 26px;
}

.selecbaseul li a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #005aa0;
}

.w-fixed li {
    width: 130px;
    margin-right: 5px;
}

.w-fixed li a {
    width: 130px;
}

.y-list {
    padding-top: 4px;
}

.selector li a {
    padding-left: 18px;
}

.selector li a i {
    position: absolute;
    left: 0;
    top: 6px;
    background: url(search.ele.png) no-repeat 9999px 9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 0;
}

.selector li.selected a i {
    border-color: #e4393c;
    background-position: -1px -107px;
}

.h-fixed {
    height: 30px;
}

.sele-adve-tab {
    height: 35px;
}

.seleadve-itemwrap {
    height: 30px;
    padding-top: 5px;
    overflow: hidden;
}

.seleadve-itemaaa {
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0 3px 0 6px;
    border: 1px solid #ddd;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 2px;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(search.ele.png) no-repeat 4px 7px;
}

.tre-acrr {
    height: 24px;
    border-color: #999;
    border-bottom: medium none;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.tre-acrr .arrow {
    background-position: 4px -27px;
}

.seleadvecon-item {
    display: block;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    border: 1px solid #999;
    padding: 20px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(153, 153, 153, .3);
}

.ovefl-visi {
    overflow: visible;
    width: auto;
}

.multiposition {
    float: right;
}

.yseah-ext a.opened i {
    background-position: 4px -27px;
}

.yseah-ext a.opened:hover i {
    background-position: 4px -45px;
}

.seleadvecon-item,
.ybtnwrap,
.rooche,
.r-letter {
    display: none;
}















/*jsmore*/

.r-logo .rlogoul.more {
    overflow-y: auto;
}

.y-list .selecbaseul.more {
    height: auto;
}

.seleadve-itemaaa {
    color: #005aa0;
}

.seleadve-itemaaa:hover {
    color: #005aa0;
}

.chosexuanxiang {
    position: relative;
    float: right;
    height: 22px;
    line-height: 22px;
    border: 1px solid #DDD;
    font-size: 12px;
    /*vertical-align: top;*/
    margin: 0 5px 5px 0;
    padding: 0 26px 0 4px;
    /*cursor: pointer;*/
    display: inline-block;
}

.allacondi {
    display: inline-block;
    border: 1px solid #fff;
    margin: 0 5px 5px 0;
    color: #666;
    height: 22px;
    line-height: 22px;
}

.chosexuanxiang b {
    font-weight: 400;
    color: #333;
}

.chosexuanxiang em {
    color: #e4393c;
    font-style: normal;
}

.chosexuanxiang i {
    display: block;
    position: absolute;
    width: 25px;
    height: 22px;
    right: 0;
    top: 0;
    background: url(search.ele.png) no-repeat 7px -140px;
}

.chosexuanxiang:hover {
    border-color: #e4393c;
    text-decoration: none;
    background: #fff;
}

.chosexuanxiang:hover i {
    background-color: #e4393c;
    background-position: 7px -158px;
}

.crumbs-nav {
    position: relative;
    min-height: 49px;
}

.allsubmit {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 12px;
    background-color: #4fa2c4;
    color: #fff;
    width: 57px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    cursor: pointer;
}

.allsubmit:hover {
    color: #fff;
}



@media screen and (max-width: 1200px) and (min-width: 1230px) {
    .w {
        width: 1210px;
    }
    .seleadvecon-item {
        width: 1188px;
    }
    .ys-letteul li {
        padding: 0 7px;
    }
}