<!DOCTYPE html>
<html lang="zxx">

<head>
<title>抖音去水印工具</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta name="keywords" content="" />
<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<!-- //Meta tag Keywords -->

<!-- Favicons -->
<link href="https://cdn.jsdelivr.net/gh/imgyh/douyin/static//images/favicon.ico" rel="icon">

<!--/Style-CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/imgyh/douyin/static/css/style.css" type="text/css" media="all" />
<!--//Style-CSS -->
<!-- font-awesome-icons -->
<link href="https://cdn.jsdelivr.net/gh/imgyh/douyin/static/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
</head>

<body>
<section class="w3l-error-61-404">
	<!-- /error-61-section -->
	<div class="error-61-mian">
		<div class="wrapper">
			<div class="errors-16-top">
				<div class="errors-16-info">
					<!-- <h3>抖音去水印工具</h3> -->
					<p style="color:#00c4b6;font-size:32px;">抖音去水印工具</p>
					<p>支持链接或者全文粘贴，如：https://v.douyin.com/J3hDo9c/</p>
					<form action="{{url_for('douyin')}}" method="post" class="d-flex error-page-form">
						<input type="search" placeholder="填写抖音视频分享地址，复制后粘贴到此处" name="share_link" required="required">
						<button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
					</form>
				
				</div>

			</div>
			<div class="copyright-footer">
				<div class="copy-right">
					<p>Copyright &copy; 2021.<a href="https://www.imgyh.com/" target="_blank" style= "color:#00c4b6" >GYH's Blog</a> && <a href="https://github.com/imgyh/douyin" target="_blank" style= "color:#00c4b6" >Github</a> All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //error-61-section -->
</body>

</html>
